*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    height: 120px;

    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: fixed;
    background: rgb(253, 253, 230);
    width: 100%;
    border: 1px solid #000000;
}
.head h1 {
    flex: 1;
    padding: 0rem 50rem 0rem 1rem;
}
.head nav ul {
    list-style: none;
    display: flex;
}
.head nav ul li {
    padding: 1rem;
}
.title {
    height: 90vh;
    background: rgb(234, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    flex-direction: column;
}
.titletext {
    font-size: 4rem;
    letter-spacing: 0.05rem;
    margin: 3rem;
    color: rgb(187, 187, 187);
}
.profile {
    color: #383838;
}
.workstext {
    font-size: 4rem;
    margin: 4rem 4rem 2rem 15rem;
}
.works {
    margin: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work-1 {
    margin: 2rem 6rem;
}
.text-1 {
    text-align: center;
    font-size: 2rem;
}
.work-2 {
    margin: 2rem 6rem;
}
.text-2 {
    text-align: center;
    font-size: 2rem;
}
.work-3 {
    margin: 2rem 6rem;
}
.text-3 {
    text-align: center;
    font-size: 2rem;
}
.work-4 {
    margin: 2rem 6rem;
}
.text-4 {
    text-align: center;
    font-size: 2rem;
}
.profile {
    background: rgb(236, 234, 248);
    padding: 20px;
    display: flex;
    justify-content: center;
}
.profile-title {
    font-size: 4rem;
}
.profile-photo img {
    margin: 3rem;
    display: block; 
    border-radius: 50%;
}
.profile-text {
    margin: 4rem;
}
.profile h7 {
    font-size: 1.8rem;
    margin: 0.7rem;
}
.profile p {
    font-size: 1.3rem;
    margin: 0.7rem;
}
